extends layout_login

block pageContent
  h1 Contract
  form.form-1(method='POST', action='/auth/contract', id='contract')
    p.field
      input(type='text', name='LessorName', placeholder='LessorName')
      i.fa.fa-address-card-o
    p.field
      input(type='text', name='HirerName', placeholder='HirerName')
      i.fa.fa-lock
    p.field
      input(type='text', name='BrokerName', placeholder='BrokerName')
      i.fa.fa-align-justify
    p.field
      input(type='text', name='Address', placeholder='Adress')
      i.fa.fa-cubes
    p.field
      input(type='text', name='ContractDate', placeholder='ContractDate')
      i.fa.fa-cubes
    p.field
      input(type='text', name='ExpireDate', placeholder='ExpireDate')
      i.fa.fa-cubes
    p.field
      input(type='text', name='Payment', placeholder='Payment')
      i.fa.fa-cubes                        
    p.submit
      button(type='submit', name='submit', value='Sign Up')
        i.fa.fa-object-ungroup
  div
    p
      img(src='/images/cont.jpg')
      img(src='/images/1.png')
      img(src='/images/2.png')
