extends layout_login

block pageTitle
  .jumbotron
    h1 Infomation Security Project
    h2 Welcome! This is Term Project used blockchain.
    p 이 프로젝트는 블록체인을 이용한 부동산 거래 계약 사기 방지 프로젝트입니다.
    p 팀원소개
    ul
      li park
      li nam
      li kim
