extends layout

block pageContent
  form.form-1(method='POST', action='/auth/signin', id='signin')
    p.field
      input(type='text', name='email', placeholder='Email Address')
      i.fa.fa-address-card-o
    p.field
      input(type='password', name='password', placeholder='Password')
      i.fa.fa-paragraph
    p.submit
      button(type='submit', name='submit', value='Sign In')
        i.fa.fa-arrow-right
