extends layout

block pageContent
  form(method='POST', action='/signup', id='signup')
    label(for='email') Email Address
    input(type='text', name='email', placeholder='Email')
    label(for='firstname') Firstname
    input(type='text', name='firstname', placeholder='Firstname')
    label(for='lastname') Lastname
    input(type='text', name='lastname', placeholder='Lastname')
    label(for='password') Password
    input(type='text', name='password', placeholder='Password')
    input.btn(type='submit', value='Sign Up')
