extends layout

block pageContent
  form(method='POST', action='/auth/signup', id='signup')
    label(for='email') Email Address
    input(type='text', name='email', placeholder='Email')
    label(for='password') Password
    input(type='text', name='password', placeholder='Password')
    label(for='name') name
    input(type='text', name='name', placeholder='Name')
    label(for='class') Class
    input(type='text', name='class', placeholder='Class')
    input.btn(type='submit', value='Sign Up')
