extends layout

block pageContent
  from(method='POST', action='/signin', id='signin')
    label(for='email') Email Address
    input(type='text', name='email', placeholder='Email')
    label(for='firstname') Firstname
    input(type='text', name='firstname', placeholder='Firstname')
    label(for='lastname') Lastname
    input(type='text', name='lastname', placeholder='Lastname')
    label(for='password') Password
    input(type='text', name='password', placeholder='Password')
    input.btn(type='sumbit', value='Sign Up')
